{% extends "base.html" %}
{% block title%}Home Page{% endblock %}
{% block content%}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/register">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/view">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
